@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/lato-800-italic.woff2') format('woff2'), url('../fonts/lato-800-italic.woff') format('woff'), url('../fonts/lato-800-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: var(--font-display-lato, var(--font-display, swap));
}
